* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

section{
    max-width: 1181px;
    width: 100%;
    margin: 0 auto;
}

table{
    margin-top: 29px;

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    vertical-align: top;

    border-spacing: 0;
}

thead{
    background: #F3F5F6;
    height: 48px;
}

td{
    height: 56px;
    border-bottom: 1px solid #E0E7E8;
    text-align: start;
}

th{
    text-align: start;
}

.blockButton p{
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}

.blockButton:hover {
    background: #C8524D;
}

.blockButton {
    background: #EB564F;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.unblockButton p {
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #EB564F;
}

.unblockButton {
    background: #FFFFFF;
    border: 1px solid #EB564F;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.unblockButton:hover p{
    color: #FFFFFF;
}

.unblockButton:hover {
    background: #C8524D;
}
