*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #181818;
}

.mainPage{
    padding-top: 10px;
    background-color: #181818;
}

.userImg{
    height: 50px;
    width: 50px;

    margin-top: 15px;
    margin-left: 15px;
}

.mainPage_post{
    display: flex;

    background-color: #181818;
    margin-bottom: 20px;
}

.post-content{
    margin-left: 20px;
    margin-top: 10px;
}

.post-content p{
    margin-bottom: 5px;
}

.idUser{
    font-weight: bold;
    color: white;
}

.title{
    color: white;
}

.infoPost{
    color: white;
    font-size: 11px;

    display: none;
}

.completeButton:hover{
    cursor: pointer;
}

.completeButton{
    font-size: 14px;
    line-height: 16px;

    color: #8B9DA3;
}

.checkComment{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #3EA6FF;
}

.checkComment:hover{
    cursor: pointer;
}

.commentsPost{
    display: flex;

    margin-left: 85px;
    margin-bottom: 20px;
}

.commentsPost img{
    height: 50px;
    width: 50px;
}

.comment-content{
    margin-left: 20px;
    padding-top: 2px;
}

.name{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;

    color: #FFFFFF;
}

.email{
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;

    color: #8B9DA3;
}

.infoComents{
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.closeButton{
    padding-left: 10px;

    width: 10px;
    height: 10px;
}

.closeButton:hover{
    cursor: pointer;
}

.openModalButton {
    margin-top: 29px;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 14px;

    color: blue;
    cursor: pointer;
    text-align: start;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 485px;
    min-height: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.inputs input{
    margin-bottom: 25px;
}
input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #CACED2;
}
input {
    outline: none;
    border: 1px solid #E0E7E8;
    height: 50px;
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #444A52;
}
.inputs {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}

.blockButton p{
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}
.blockButton:hover {
    background: #C8524D;
}
.blockButton {
    background: #EB564F;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}